@import 'src/app/app.component.scss';

.firework {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 5vh;
  left: 0;
  z-index: 0;
}

.full-screen-page {
  z-index: 1;
  height: 100vh;
  min-height: 700px;
  min-width: 750px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .full-screen-button {
      background: rgba(255, 255, 255, 0.1) !important;
      font-size: 16px;
      padding: 10px 20px 10px 25px;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .full-screen-button:hover {
      background: rgba(255, 255, 255, 0.05) !important;
    }

    .buttons {
      position: absolute;
      bottom: 80px;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    .reminder {
      color: #eee;
      font-size: 24px;
      position: absolute;
      bottom: 0px;
      margin-bottom: 36px;
    }

    .current-time-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }

    .current-time {
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: bolder;
      font-family: sf-pro-display-bold;
      margin: 0;
    }

    .encouraging-text {
      @extend .current-time;
    }

    .countdown-time {
      @extend .encouraging-text;
    }

    .subtract-button {
      height: 36px;
      width: 36px;
      border-radius: 100px;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font-weight: bolder;
    }

    .subtract-button:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    .add-button {
      @extend .subtract-button;
      font-weight: normal;
      font-size: 24px;
    }
  }

  .to-dos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    width: 90%;
    height: 1%;
    top: 5%;
    left: 5%;
  }
}
