<div
  #firework
  class="firework"
  *ngIf="fontLoaderService.fontLoaded"
  (mousemove)="firework.style.zIndex = '0'"
></div>

<div
  class="full-screen-page"
  [ngClass]="{
    'dark-background': contentService.colorMode === 'dark',
    'light-background': contentService.colorMode === 'light'
  }"
  *ngIf="!fontLoaderService.fontLoaded"
>
  <mat-spinner></mat-spinner>
</div>

<div
  class="full-screen-page"
  [ngClass]="{
    'dark-background': contentService.colorMode === 'dark',
    'light-background': contentService.colorMode === 'light'
  }"
  [style.cursor]="showAdjustingButton ? 'auto' : 'none'"
  (mousemove)="onMouseMove()"
  *ngIf="fontLoaderService.fontLoaded"
>
  <div class="center-text">
    <div class="current-time-container" cdkDrag>
      <div
        class="subtract-button"
        (click)="currentTimeFontSize = currentTimeFontSize - 10"
        [@buttonInOut]="showAdjustingButton"
      >
        一
      </div>
      <p
        class="current-time"
        [ngClass]="{
          'dark-text': contentService.colorMode === 'dark',
          'light-text': contentService.colorMode === 'light'
        }"
        [ngStyle]="{ 'font-size.px': currentTimeFontSize }"
      >
        {{ currentTime }}
      </p>
      <div
        class="add-button"
        (click)="currentTimeFontSize = currentTimeFontSize + 10"
        [@buttonInOut]="showAdjustingButton"
      >
        +
      </div>
    </div>
    <div class="current-time-container" *ngIf="encouragingText.length" cdkDrag>
      <div
        class="subtract-button"
        (click)="encouragingTextFontSize = encouragingTextFontSize - 10"
        [@buttonInOut]="showAdjustingButton"
      >
        一
      </div>
      <p
        class="encouraging-text"
        [ngClass]="{
          'dark-text': contentService.colorMode === 'dark',
          'light-text': contentService.colorMode === 'light'
        }"
        [ngStyle]="{ 'font-size.px': encouragingTextFontSize }"
      >
        {{ encouragingText }}
      </p>
      <div
        class="add-button"
        (click)="encouragingTextFontSize = encouragingTextFontSize + 10"
        [@buttonInOut]="showAdjustingButton"
      >
        +
      </div>
    </div>
    <div
      class="current-time-container"
      cdkDrag
      [@countdownInOut]="countdownState"
    >
      <div
        class="subtract-button"
        (click)="countdownFontSize = countdownFontSize - 10"
        [@buttonInOut]="showAdjustingButton"
      >
        一
      </div>
      <p
        class="countdown-time"
        [ngClass]="{
          'dark-text': contentService.colorMode === 'dark',
          'light-text': contentService.colorMode === 'light'
        }"
        [ngStyle]="{ 'font-size.px': countdownFontSize }"
      >
        {{ getRemainingTime() }}
      </p>
      <div
        class="add-button"
        (click)="countdownFontSize = countdownFontSize + 10"
        [@buttonInOut]="showAdjustingButton"
      >
        +
      </div>
    </div>
    <div
      class="current-time-container"
      cdkDrag
      *ngIf="stopWatchStatus !== 'stop'"
    >
      <div
        class="subtract-button"
        (click)="stopWatchFontSize = stopWatchFontSize - 10"
        [@buttonInOut]="showAdjustingButton"
      >
        一
      </div>
      <div
        class="add-button"
        (click)="resetStopWatch()"
        [@buttonInOut]="showAdjustingButton"
        *ngIf="stopWatchStatus === 'running' || stopWatchStatus === 'pause'"
      >
        <mat-icon>stop</mat-icon>
      </div>
      <p
        class="countdown-time"
        [ngClass]="{
          'dark-text': contentService.colorMode === 'dark',
          'light-text': contentService.colorMode === 'light'
        }"
        [ngStyle]="{ 'font-size.px': stopWatchFontSize }"
      >
        {{ getStopWatchTime() }}
      </p>
      <div
        class="add-button"
        (click)="stopWatchStatus = 'running'"
        [@buttonInOut]="showAdjustingButton"
        *ngIf="stopWatchStatus === 'pause'"
      >
        <mat-icon>play_arrow</mat-icon>
      </div>
      <div
        class="add-button"
        (click)="stopWatchStatus = 'pause'"
        [@buttonInOut]="showAdjustingButton"
        *ngIf="stopWatchStatus === 'running'"
      >
        <mat-icon>pause</mat-icon>
      </div>
      <div
        class="add-button"
        (click)="stopWatchFontSize = stopWatchFontSize + 10"
        [@buttonInOut]="showAdjustingButton"
      >
        +
      </div>
    </div>
    <div class="buttons">
      <button
        (click)="toSetting()"
        [@buttonInOut]="showAdjustingButton"
        class="full-screen-button"
      >
        <mat-icon>settings</mat-icon>&nbsp;設定
      </button>
      <button
        (click)="toFullScreen()"
        [@buttonInOut]="showAdjustingButton"
        class="full-screen-button"
      >
        <mat-icon>fullscreen</mat-icon>&nbsp;全螢幕
      </button>
      <button
        (click)="toggleStopWatch()"
        [@buttonInOut]="showAdjustingButton"
        class="full-screen-button"
        *ngIf="stopWatchStatus === 'stop'"
      >
        <mat-icon>timer</mat-icon>&nbsp;新增碼表
      </button>
      <button
        (click)="toggleStopWatch()"
        [@buttonInOut]="showAdjustingButton"
        class="full-screen-button"
        *ngIf="stopWatchStatus !== 'stop'"
      >
        <mat-icon>delete_forever</mat-icon>&nbsp;移除碼表
      </button>
      <app-color-toggle [@buttonInOut]="showAdjustingButton"></app-color-toggle>
    </div>
    <p class="reminder" [@buttonInOut]="showAdjustingButton">
      貼心提醒：所有文字和待辦事項都可以自由的拉來拉去喔！
    </p>
  </div>
  <div class="to-dos">
    <app-to-do
      cdkDrag
      *ngFor="let toDo of toDos"
      [toDo]="toDo"
      [disabled]="false"
      [showMoreOrLessButton]="showAdjustingButton"
    ></app-to-do>
  </div>
</div>
