::-webkit-scrollbar {
  background: transparent;
  display: none;
}

.to-do-list {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px 40px;

  .to-do-item-container {
    height: fit-content;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
  }

  .more-items-text {
    color: #eee;
    margin: 16px 0 0 0;
  }

  .to-do-title {
    width: 160px;
    margin: 0;
    margin-bottom: 10px;
  }

  hr {
    border: 1px solid #ddd;
    width: 100%;
    margin: 10px 0;
  }

  .to-do-item {
    width: 180px;
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;

    .check-box {
      width: 20px !important;
      height: 20px !important;
      border-radius: 5px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .finished-box {
        font-size: 20px;
        height: 16px;
        width: 16px;
        border-radius: 3px;
        background-color: #fff;
      }
    }

    .content {
      margin: 0;
      width: 120px !important;
      word-wrap: break-word;
      line-height: 24px;
    }
  }

  .to-do-item:hover {
    cursor: pointer;
  }

  .expand-more-button {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px 5px 10px;
    border-radius: 30px;
    border: none;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    position: absolute;
    margin-top: 30px;
  }

  .expand-more-button:hover {
    background: rgba(255, 255, 255, 0.05) !important;
    cursor: pointer;
  }
}
