<div class="to-do-list">
  <div class="remove-button" *ngIf="disabled" (click)="remove()">
    <mat-icon>close</mat-icon>
  </div>
  <h3
    class="to-do-title"
    [style.color]="contentService.colorMode === 'dark' ? '#ddd' : '#fff'"
  >
    {{ toDo.title }}
  </h3>
  <mat-progress-bar
    mode="determinate"
    [value]="getFinishedPercentage()"
    color="primary"
  ></mat-progress-bar>
  <div
    class="to-do-item-container"
    [style.max-height]="toDoListMaxHeight + 'px !important'"
  >
    <div
      class="to-do-item"
      *ngFor="let item of toDo.items; let i = index"
      (click)="clickToDoItem(i)"
    >
      <div
        class="check-box"
        [style.border]="
          contentService.colorMode === 'dark'
            ? '2px solid #bbb'
            : '2px solid #eee'
        "
      >
        <div
          *ngIf="item.isDone"
          class="finished-box"
          [style.background-color]="
            contentService.colorMode === 'dark' ? '#ddd' : '#fff'
          "
        ></div>
      </div>
      <p
        class="content"
        [style.text-decoration]="item.isDone ? 'line-through' : ''"
        [style.color]="
          contentService.colorMode === 'dark'
            ? item.isDone
              ? '#bbb'
              : '#ddd'
            : item.isDone
            ? '#ddd'
            : '#fff'
        "
      >
        {{ item.content }}
      </p>
    </div>
  </div>
  <button
    class="expand-more-button"
    *ngIf="!disabled && !showFullHeight"
    (click)="expandMore()"
    [@buttonInOut]="showMoreOrLessButton"
  >
    <mat-icon>expand_more</mat-icon>&nbsp;展開
  </button>
  <button
    class="expand-more-button"
    *ngIf="!disabled && showFullHeight"
    (click)="showLess()"
    [@buttonInOut]="showMoreOrLessButton"
  >
    <mat-icon>expand_less</mat-icon>&nbsp;收合
  </button>
</div>
