.color-mode-buttons {
  width: 123px;
  border-radius: 30px;
  height: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .color-mode-button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: none;
  }
}
